@import "tailwindcss";

/* La gestion du mode Dark en v4 */
@variant dark (&:where(.dark, .dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --text-clip-1: #0393f3;
  --text-clip-2: #10ca6d;
  --color-clip-1: var(--text-clip-1);
  --color-clip-2: var(--text-clip-2);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(0.18 0.019 274.55);
    --foreground: oklch(0.808 0.037 278.614);
    --muted: oklch(0.259 0.014 275.379);
    --muted-foreground: oklch(0.705 0.026 275.659);
    --popover: oklch(0.149 0.012 274.834);
    --popover-foreground: oklch(0.901 0.019 279.022);
    --card: oklch(0.159 0.015 274.785);
    --card-foreground: oklch(0.855 0.028 278.835);
    --border: oklch(0.235 0.018 275.036);
    --input: oklch(0.265 0.022 274.955);
    --primary: oklch(0.792 0.076 187.715);
    --primary-foreground: oklch(0.172 0.016 187.914);
    --secondary: oklch(0.412 0.044 187.35);
    --secondary-foreground: oklch(0.902 0.025 189.451);
    --accent: oklch(0.319 0.047 273.771);
    --accent-foreground: oklch(0.848 0.027 275.731);
    --destructive: oklch(0.647 0.208 29.192);
    --destructive-foreground: oklch(1 0 180);
    --ring: oklch(0.792 0.076 187.715);
    --chart-1: oklch(0.792 0.076 187.715);
    --chart-2: oklch(0.412 0.044 187.35);
    --chart-3: oklch(0.319 0.047 273.771);
    --chart-4: oklch(0.445 0.049 187.304);
    --chart-5: oklch(0.797 0.08 187.568);
  }

  .dark {
    --radius: 0.5rem;
    --background: oklch(0.18 0.019 274.55);
    --foreground: oklch(0.808 0.037 278.614);
    --muted: oklch(0.259 0.014 275.379);
    --muted-foreground: oklch(0.705 0.026 275.659);
    --popover: oklch(0.149 0.012 274.834);
    --popover-foreground: oklch(0.901 0.019 279.022);
    --card: oklch(0.159 0.015 274.785);
    --card-foreground: oklch(0.855 0.028 278.835);
    --border: oklch(0.235 0.018 275.036);
    --input: oklch(0.265 0.022 274.955);
    --primary: oklch(0.792 0.076 187.715);
    --primary-foreground: oklch(0.172 0.016 187.914);
    --secondary: oklch(0.412 0.044 187.35);
    --secondary-foreground: oklch(0.902 0.025 189.451);
    --accent: oklch(0.319 0.047 273.771);
    --accent-foreground: oklch(0.848 0.027 275.731);
    --destructive: oklch(0.647 0.208 29.192);
    --destructive-foreground: oklch(1 0 180);
    --ring: oklch(0.792 0.076 187.715);
    --chart-1: oklch(0.792 0.076 187.715);
    --chart-2: oklch(0.412 0.044 187.35);
    --chart-3: oklch(0.319 0.047 273.771);
    --chart-4: oklch(0.445 0.049 187.304);
    --chart-5: oklch(0.797 0.08 187.568);
  }
}
